/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron
{	
	text-align:center;
	background-image: url('../images/hero.jpg');
	color: white;
}
.btn-lg
{
	font-size: 36px;
}
.jumbotron h1
{	
	font-family: 'Arvo', serif;
}
ul.nav
{
	font-family: 'Arvo', serif;
	font-size :13px;
}
.jumbotron p
{
	font-weight:100;
}